html {
  --light-blue: #dbecff;
  --semi-blue: #b3d3f8;
  --blue: #5ca5e5;
  --light-gray: #f2f2f2;
  --gray: #595959;

  --navigate-menu-width: 220px;
  --empty-navigate-menu-width: calc(var(--navigate-menu-width) - 110px);

  background-color: var(--light-gray);
}
* {
  padding: 0px;
  margin: 0px;
}